body{
    height:100vh;
    background-image:url("../images/bg1.png");
    background-size:cover;
    
}
.sdiv{
    background-color: rgba(0,0,0,0.5);
    border-radius: 7px;
    height:59%;
    width:35%;    
    position:absolute;
    left:32.5%;
    top:25%;    
    
}
.formdiv{
    margin-left:27%;
    margin-top:40px;
}
input{
    height:30px;
    border-radius:3px;
    margin-top:6px;
    float:center;
    opacity:1;
    width:60%;
    color:black;
    background-color:white;
}
h4{
    color:red;
}
.signup_button{
     margin-left:19%;
     padding:4px;
     background-color: #a30000;
     color:white;
     border-radius:4px;

}
.pmatch{
    margin-left:3%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.home_s{
    width:70px;
    height:30px;
    background-color: rgba(0,0,0,0.5);

}
.homediv{   
    top:5px;
    position:relative;
    text-align:center;
    color:white;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
.s_h1{
    position:relative;
    color:white;
    font:20px;
    left:48px;
}
